ai-influencer/n8n/workflows/WF-09-youtube-source.json
{
  "name": "WF-09: YouTube 소스 자동 추가",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "id": "wf09-schedule",
      "name": "매시간 실행",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// TOPIC_CHANNELS 파싱: 채널별 (channelId, topic) 쌍 목록으로 펼치기\n// 형식: \"채널이름/채널ID+채널이름/채널ID+...\"\n// 예: \"노마드코더/UCUpJs89fSBXNolQGOYKn0YQ+조코딩/UCQNE2JmbasNYbjGAcuBiRRg\"\nconst raw = $env.TOPIC_CHANNELS || '';\nif (!raw.trim()) return [{ json: { skip: true, reason: 'TOPIC_CHANNELS 미설정' } }];\n\nconst channels = [];\nfor (const ch of raw.split('+')) {\n  const slashIdx = ch.indexOf('/');\n  if (slashIdx < 0) continue;\n  const channelName = ch.slice(0, slashIdx).trim();\n  const channelId   = ch.slice(slashIdx + 1).trim();\n  if (channelName && channelId) channels.push({ channelId, topic: channelName });\n}\n\nif (channels.length === 0) return [{ json: { skip: true, reason: '파싱된 채널 없음' } }];\nreturn channels.map(ch => ({ json: ch }));",
        "options": {}
      },
      "id": "wf09-parse-channels",
      "name": "채널 목록 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf09-if-channels",
      "name": "채널 있는 경우만",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "// YouTube RSS 조회 (최대 10회 재시도, 3초 간격) + 새 영상 필터링 (Shorts 제외)\nconst channelId = $json.channelId || '';\nconst topic = $json.topic || '';\nconst RSS_URL = `https://www.youtube.com/feeds/videos.xml?channel_id=${channelId}`;\nconst MAX_RETRIES = 10;\nconst WAIT_MS = 3000;\n\nlet xml = '';\nfor (let attempt = 1; attempt <= MAX_RETRIES; attempt++) {\n  try {\n    const body = await $helpers.httpRequest({\n      method: 'GET',\n      url: RSS_URL,\n    });\n    if (typeof body === 'string' && body.includes('<feed')) {\n      xml = body;\n      break;\n    }\n    // 응답은 왔지만 유효한 XML이 아님 (404 HTML 등)\n    if (attempt < MAX_RETRIES) {\n      await new Promise(r => setTimeout(r, WAIT_MS));\n    }\n  } catch (e) {\n    // HTTP 에러 (404, 500 등)\n    if (attempt < MAX_RETRIES) {\n      await new Promise(r => setTimeout(r, WAIT_MS));\n    }\n  }\n}\n\nif (!xml) {\n  return [{ json: { skip: true, channelId, topic, reason: `RSS 조회 실패 (${MAX_RETRIES}회 재시도)` } }];\n}\n\n// RSS 파싱: Shorts 제외, 1.5시간 이내\nconst entries = [];\nconst entryRegex = /<entry>([\\s\\S]*?)<\\/entry>/g;\nlet match;\n\nwhile ((match = entryRegex.exec(xml)) !== null) {\n  const block = match[1];\n  const videoId = (block.match(/<yt:videoId>([^<]+)<\\/yt:videoId>/) || [])[1];\n  const title = (block.match(/<title>([^<]+)<\\/title>/) || [])[1] || '';\n  const published = (block.match(/<published>([^<]+)<\\/published>/) || [])[1] || '';\n  const linkMatch = block.match(/<link rel=\"alternate\" href=\"([^\"]+)\"/);\n  const videoLink = linkMatch ? linkMatch[1] : '';\n\n  if (!videoId) continue;\n\n  // YouTube Shorts 제외 (NotebookLM이 Shorts 트랜스크립트를 지원하지 않음)\n  if (videoLink.includes('/shorts/')) continue;\n\n  const publishedMs = new Date(published).getTime();\n  const cutoffMs = Date.now() - 90 * 60 * 1000; // 1.5시간 이내\n\n  if (publishedMs >= cutoffMs) {\n    entries.push({\n      videoUrl: `https://www.youtube.com/watch?v=${videoId}`,\n      title: title.replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>'),\n      publishedAt: published,\n      channelId,\n      topic,\n    });\n  }\n}\n\nif (entries.length === 0) {\n  return [{ json: { skip: true, channelId, topic, reason: '새 영상 없음 (Shorts 포함 필터링)' } }];\n}\n\nreturn entries.map(e => ({ json: e }));",
        "options": {}
      },
      "id": "wf09-fetch-and-filter",
      "name": "RSS 조회 + 새 영상 필터링",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf09-if-new",
      "name": "새 영상 있는 경우만",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 220]
    },
    {
      "parameters": {
        "url": "={{ $env.NOTEBOOKLM_SERVICE_URL }}/check-and-add-source",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Internal-Secret", "value": "={{ $env.GATEWAY_INTERNAL_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source_url: $json.videoUrl, source_title: $json.title, channel_id: $json.channelId, channel_name: $json.topic, max_sources: $env.NOTEBOOKLM_MAX_SOURCES ? parseInt($env.NOTEBOOKLM_MAX_SOURCES) : 20 }) }}",
        "options": {
          "timeout": 360000
        }
      },
      "id": "wf09-add-source",
      "name": "NotebookLM 소스 추가",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 140]
    },
    {
      "parameters": {
        "jsCode": "// 결과 로깅\nconst result = $input.item.json;\n\nif (result.duplicate) {\n  console.log(`[WF-09] 중복 건너뜀`);\n} else if (result.added) {\n  console.log(`[WF-09] 소스 추가 완료 (cleaned=${result.cleaned_up})`);\n} else if (result.error) {\n  console.error(`[WF-09] 소스 추가 실패: ${result.error}`);\n}\n\nreturn [{ json: result }];",
        "options": {}
      },
      "id": "wf09-log",
      "name": "결과 로깅",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 140]
    }
  ],
  "connections": {
    "매시간 실행": {
      "main": [[{ "node": "채널 목록 파싱", "type": "main", "index": 0 }]]
    },
    "채널 목록 파싱": {
      "main": [[{ "node": "채널 있는 경우만", "type": "main", "index": 0 }]]
    },
    "채널 있는 경우만": {
      "main": [
        [{ "node": "RSS 조회 + 새 영상 필터링", "type": "main", "index": 0 }],
        []
      ]
    },
    "RSS 조회 + 새 영상 필터링": {
      "main": [[{ "node": "새 영상 있는 경우만", "type": "main", "index": 0 }]]
    },
    "새 영상 있는 경우만": {
      "main": [
        [{ "node": "NotebookLM 소스 추가", "type": "main", "index": 0 }],
        []
      ]
    },
    "NotebookLM 소스 추가": {
      "main": [[{ "node": "결과 로깅", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
