ai-influencer/n8n/workflows/WF-09-youtube-source.json
{
  "name": "WF-09: YouTube 소스 자동 추가",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "id": "wf09-schedule",
      "name": "매시간 실행",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// TOPIC_CHANNELS 파싱: 채널별 (channelId, topic) 쌍 목록으로 펼치기\n// 형식: \"채널이름/채널ID+채널이름/채널ID+...\"\n// 예: \"노마드코더/UCUpJs89fSBXNolQGOYKn0YQ+조코딩/UCQNE2JmbasNYbjGAcuBiRRg\"\nconst raw = $env.TOPIC_CHANNELS || '';\nif (!raw.trim()) return [{ json: { skip: true, reason: 'TOPIC_CHANNELS 미설정' } }];\n\nconst channels = [];\nfor (const ch of raw.split('+')) {\n  const slashIdx = ch.indexOf('/');\n  if (slashIdx < 0) continue;\n  const channelName = ch.slice(0, slashIdx).trim();\n  const channelId   = ch.slice(slashIdx + 1).trim();\n  if (channelName && channelId) channels.push({ channelId, topic: channelName });\n}\n\nif (channels.length === 0) return [{ json: { skip: true, reason: '파싱된 채널 없음' } }];\nreturn channels.map(ch => ({ json: ch }));",
        "options": {}
      },
      "id": "wf09-parse-channels",
      "name": "채널 목록 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf09-if-channels",
      "name": "채널 있는 경우만",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "// YouTube RSS 조회 + 일시 오류(404/500) 재시도 + 새 영상 필터링(Shorts 제외)\nconst channelId = ($json.channelId || '').trim();\nconst topic = ($json.topic || '').trim();\n\nif (!channelId) {\n  return [{ json: { skip: true, channelId, topic, reason: 'channelId 없음' } }];\n}\n\nconst RSS_URL = `https://www.youtube.com/feeds/videos.xml?channel_id=${channelId}`;\nconst MAX_RETRIES = 40;\nconst BASE_WAIT_MS = 1000;\nconst MAX_WAIT_MS = 10000;\nconst MAX_TOTAL_WAIT_MS = 240 * 1000; // 총 4분\nconst CUTOFF_MS = Date.now() - 90 * 60 * 1000; // 1.5시간\n\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst decodeEntities = (text = '') =>\n  text\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\");\n\nconst asArray = (v) => (Array.isArray(v) ? v : (v == null ? [] : [v]));\nconst textOf = (v) => {\n  if (typeof v === 'string') return v;\n  if (Array.isArray(v)) return textOf(v[0]);\n  if (!v || typeof v !== 'object') return '';\n  if (typeof v._ === 'string') return v._;\n  if (typeof v['#text'] === 'string') return v['#text'];\n  return '';\n};\n\nconst extractHref = (linkVal) => {\n  for (const link of asArray(linkVal)) {\n    if (!link) continue;\n    if (typeof link === 'string') return link;\n    if (typeof link.href === 'string') return link.href;\n    if (link.$ && typeof link.$.href === 'string') return link.$.href;\n    if (link.attrs && typeof link.attrs.href === 'string') return link.attrs.href;\n  }\n  return '';\n};\n\nconst normalizeVideoUrl = (videoId, link) => {\n  if (typeof link === 'string' && link.includes('youtube.com/watch')) return link;\n  if (videoId) return `https://www.youtube.com/watch?v=${videoId}`;\n  return '';\n};\n\nconst parseFromXml = (xml) => {\n  const out = [];\n  const entryRegex = /<entry>([\\s\\S]*?)<\\/entry>/g;\n  let match;\n  while ((match = entryRegex.exec(xml)) !== null) {\n    const block = match[1];\n    const videoId = (block.match(/<yt:videoId>([^<]+)<\\/yt:videoId>/) || [])[1] || '';\n    const title = (block.match(/<title>([^<]+)<\\/title>/) || [])[1] || '';\n    const publishedAt = (block.match(/<published>([^<]+)<\\/published>/) || [])[1] || '';\n    const linkMatch = block.match(/<link rel=\"alternate\" href=\"([^\"]+)\"/);\n    const link = linkMatch ? linkMatch[1] : '';\n    if (!videoId) continue;\n    out.push({\n      videoId,\n      title: decodeEntities(title),\n      publishedAt,\n      videoUrl: normalizeVideoUrl(videoId, link),\n    });\n  }\n  return out;\n};\n\nconst parseFromObject = (data) => {\n  const feed = data && data.feed ? data.feed : data;\n  const rawEntries = feed && feed.entry ? asArray(feed.entry) : [];\n  const out = [];\n\n  for (const raw of rawEntries) {\n    if (!raw || typeof raw !== 'object') continue;\n    const videoId = textOf(raw['yt:videoId']) || textOf(raw.videoId);\n    if (!videoId) continue;\n\n    const title = decodeEntities(textOf(raw.title));\n    const publishedAt = textOf(raw.published) || textOf(raw.updated);\n    const link = extractHref(raw.link);\n\n    out.push({\n      videoId,\n      title,\n      publishedAt,\n      videoUrl: normalizeVideoUrl(videoId, link),\n    });\n  }\n\n  return out;\n};\n\nlet parsedEntries = [];\nlet fetchMode = '';\nlet lastError = '';\nconst startMs = Date.now();\n\nfor (let attempt = 1; attempt <= MAX_RETRIES; attempt++) {\n  const elapsed = Date.now() - startMs;\n  if (elapsed >= MAX_TOTAL_WAIT_MS) {\n    lastError = `총 대기시간 ${Math.floor(MAX_TOTAL_WAIT_MS / 1000)}초 초과`;\n    break;\n  }\n\n  try {\n    const response = await $helpers.httpRequest({\n      method: 'GET',\n      url: RSS_URL,\n      options: { timeout: 10000 },\n    });\n\n    if (typeof response === 'string') {\n      if (response.includes('<feed')) {\n        parsedEntries = parseFromXml(response);\n        fetchMode = 'xml-string';\n        console.log(`[WF-09] RSS 조회 성공(channel=${channelId}, attempt=${attempt}, mode=${fetchMode}, entries=${parsedEntries.length})`);\n        break;\n      }\n      lastError = `문자열 응답이지만 feed 태그 없음(길이=${response.length})`;\n    } else if (response && typeof response === 'object') {\n      const candidate = (response.body && (typeof response.body === 'string' || typeof response.body === 'object'))\n        ? response.body\n        : response;\n\n      if (typeof candidate === 'string' && candidate.includes('<feed')) {\n        parsedEntries = parseFromXml(candidate);\n        fetchMode = 'xml-string-in-body';\n        console.log(`[WF-09] RSS 조회 성공(channel=${channelId}, attempt=${attempt}, mode=${fetchMode}, entries=${parsedEntries.length})`);\n        break;\n      }\n\n      if (candidate && typeof candidate === 'object' && (candidate.feed || candidate.entry)) {\n        parsedEntries = parseFromObject(candidate);\n        fetchMode = 'parsed-object';\n        console.log(`[WF-09] RSS 조회 성공(channel=${channelId}, attempt=${attempt}, mode=${fetchMode}, entries=${parsedEntries.length})`);\n        break;\n      }\n\n      lastError = `객체 응답이지만 feed/entry 구조 없음(type=${typeof candidate})`;\n    } else {\n      lastError = `지원되지 않는 응답 타입(${typeof response})`;\n    }\n  } catch (e) {\n    lastError = e && e.message ? e.message : String(e);\n    console.log(`[WF-09] attempt ${attempt}: RSS 오류(channel=${channelId}) - ${lastError}`);\n  }\n\n  if (attempt < MAX_RETRIES) {\n    const waitMs = Math.min(BASE_WAIT_MS * Math.pow(1.25, attempt - 1), MAX_WAIT_MS);\n    await sleep(Math.floor(waitMs));\n  }\n}\n\nif (!fetchMode) {\n  return [{\n    json: {\n      skip: true,\n      channelId,\n      topic,\n      reason: `RSS 조회 실패 (${lastError || 'unknown'})`,\n      retries: MAX_RETRIES,\n    },\n  }];\n}\n\nif (parsedEntries.length === 0) {\n  return [{\n    json: {\n      skip: true,\n      channelId,\n      topic,\n      reason: `피드 응답은 성공했지만 entry 없음(mode=${fetchMode})`,\n    },\n  }];\n}\n\nconst freshEntries = [];\nfor (const entry of parsedEntries) {\n  const videoUrl = entry.videoUrl || (entry.videoId ? `https://www.youtube.com/watch?v=${entry.videoId}` : '');\n  if (!videoUrl) continue;\n\n  // YouTube Shorts 제외 (NotebookLM 트랜스크립트 미지원)\n  if (videoUrl.includes('/shorts/')) continue;\n\n  const publishedMs = Date.parse(entry.publishedAt || '');\n  if (!Number.isFinite(publishedMs)) continue;\n\n  if (publishedMs >= CUTOFF_MS) {\n    freshEntries.push({\n      videoUrl,\n      title: entry.title || '',\n      publishedAt: entry.publishedAt || '',\n      channelId,\n      topic,\n      fetchMode,\n    });\n  }\n}\n\nif (freshEntries.length === 0) {\n  return [{\n    json: {\n      skip: true,\n      channelId,\n      topic,\n      reason: `새 영상 없음(1.5시간 이내, mode=${fetchMode}, entries=${parsedEntries.length})`,\n    },\n  }];\n}\n\nreturn freshEntries.map((e) => ({ json: e }));",
        "options": {}
      },
      "id": "wf09-fetch-and-filter",
      "name": "RSS 조회 + 새 영상 필터링",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf09-if-new",
      "name": "새 영상 있는 경우만",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 220]
    },
    {
      "parameters": {
        "url": "={{ $env.NOTEBOOKLM_SERVICE_URL }}/check-and-add-source",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Internal-Secret", "value": "={{ $env.GATEWAY_INTERNAL_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source_url: $json.videoUrl, source_title: $json.title, channel_id: $json.channelId, channel_name: $json.topic, max_sources: $env.NOTEBOOKLM_MAX_SOURCES ? parseInt($env.NOTEBOOKLM_MAX_SOURCES) : 20 }) }}",
        "options": {
          "timeout": 360000
        }
      },
      "id": "wf09-add-source",
      "name": "NotebookLM 소스 추가",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 140]
    },
    {
      "parameters": {
        "jsCode": "// 결과 로깅\nconst result = $input.item.json;\n\nif (result.duplicate) {\n  console.log(`[WF-09] 중복 건너뜀`);\n} else if (result.added) {\n  console.log(`[WF-09] 소스 추가 완료 (cleaned=${result.cleaned_up})`);\n} else if (result.error) {\n  console.error(`[WF-09] 소스 추가 실패: ${result.error}`);\n}\n\nreturn [{ json: result }];",
        "options": {}
      },
      "id": "wf09-log",
      "name": "결과 로깅",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 140]
    }
  ],
  "connections": {
    "매시간 실행": {
      "main": [[{ "node": "채널 목록 파싱", "type": "main", "index": 0 }]]
    },
    "채널 목록 파싱": {
      "main": [[{ "node": "채널 있는 경우만", "type": "main", "index": 0 }]]
    },
    "채널 있는 경우만": {
      "main": [
        [{ "node": "RSS 조회 + 새 영상 필터링", "type": "main", "index": 0 }],
        []
      ]
    },
    "RSS 조회 + 새 영상 필터링": {
      "main": [[{ "node": "새 영상 있는 경우만", "type": "main", "index": 0 }]]
    },
    "새 영상 있는 경우만": {
      "main": [
        [{ "node": "NotebookLM 소스 추가", "type": "main", "index": 0 }],
        []
      ]
    },
    "NotebookLM 소스 추가": {
      "main": [[{ "node": "결과 로깅", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
