ai-influencer/n8n/workflows/WF-07_tts_heygen.json
{
  "name": "WF-07: TTS + HeyGen 영상 생성",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf-07-tts-heygen",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wf07-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "a1", "name": "job_id", "value": "={{ $json.body.job_id }}", "type": "string"},
            {"id": "a2", "name": "script_text", "value": "={{ $json.body.script_text }}", "type": "string"},
            {"id": "a3", "name": "channel_id", "value": "={{ $json.body.channel_id }}", "type": "string"},
            {"id": "a4", "name": "user_id", "value": "={{ $json.body.user_id }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "wf07-set-parse",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs SET status='GENERATING', updated_at=NOW() WHERE id='{{ $json.job_id }}'",
        "options": {}
      },
      "id": "wf07-pg-generating",
      "name": "Update to GENERATING",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": {"id": "1", "name": "pg-credentials"}
      }
    },
    {
      "parameters": {
        "jsCode": "// Step 1: Call GPT-SoVITS TTS\nconst jobId = $('Extract Fields').item.json.job_id;\nconst scriptText = $('Extract Fields').item.json.script_text;\nconst channelId = $('Extract Fields').item.json.channel_id;\nconst userId = $('Extract Fields').item.json.user_id;\n\nconst ttsBody = {\n  text: scriptText,\n  text_lang: $env.TTS_TEXT_LANG || 'ko',\n  ref_audio_path: $env.TTS_REF_AUDIO_PATH,\n  prompt_text: $env.TTS_PROMPT_TEXT,\n  prompt_lang: $env.TTS_PROMPT_LANG || 'ko',\n  media_type: 'wav',\n  streaming_mode: false\n};\n\nconst ttsResp = await fetch(`${$env.TTS_API_URL}/tts`, {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify(ttsBody)\n});\n\nif (!ttsResp.ok) {\n  throw new Error(`TTS API failed: ${ttsResp.status} ${await ttsResp.text()}`);\n}\n\nconst audioBuffer = await ttsResp.arrayBuffer();\nconst audioBytes = new Uint8Array(audioBuffer);\n\n// Step 2: Upload audio to HeyGen\nconst formData = new FormData();\nconst audioBlob = new Blob([audioBytes], { type: 'audio/wav' });\nformData.append('file', audioBlob, 'audio.wav');\n\nconst uploadResp = await fetch('https://upload.heygen.com/v1/asset', {\n  method: 'POST',\n  headers: { 'X-Api-Key': $env.HEYGEN_API_KEY },\n  body: formData\n});\n\nif (!uploadResp.ok) {\n  throw new Error(`HeyGen upload failed: ${uploadResp.status} ${await uploadResp.text()}`);\n}\n\nconst uploadData = await uploadResp.json();\nconst assetId = uploadData.data?.id || uploadData.asset_id;\nif (!assetId) {\n  throw new Error(`HeyGen upload returned no asset_id: ${JSON.stringify(uploadData)}`);\n}\n\n// Step 3: Create HeyGen video\nconst videoBody = {\n  video_inputs: [{\n    character: {\n      type: 'avatar',\n      avatar_id: $env.HEYGEN_AVATAR_ID,\n      avatar_style: 'normal'\n    },\n    voice: {\n      type: 'audio',\n      audio_asset_id: assetId\n    }\n  }],\n  dimension: { width: 1280, height: 720 }\n};\n\nconst videoResp = await fetch('https://api.heygen.com/v2/video/generate', {\n  method: 'POST',\n  headers: {\n    'X-Api-Key': $env.HEYGEN_API_KEY,\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify(videoBody)\n});\n\nif (!videoResp.ok) {\n  throw new Error(`HeyGen create video failed: ${videoResp.status} ${await videoResp.text()}`);\n}\n\nconst videoData = await videoResp.json();\nconst videoId = videoData.data?.video_id;\nif (!videoId) {\n  throw new Error(`HeyGen create video returned no video_id: ${JSON.stringify(videoData)}`);\n}\n\nreturn [{\n  json: {\n    job_id: jobId,\n    video_id: videoId,\n    channel_id: channelId,\n    user_id: userId\n  }\n}];"
      },
      "id": "wf07-code-tts-heygen",
      "name": "TTS + HeyGen Create Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs SET video_url='pending:{{ $json.video_id }}', updated_at=NOW() WHERE id='{{ $json.job_id }}'",
        "options": {}
      },
      "id": "wf07-pg-pending",
      "name": "Save Video ID Pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 300],
      "credentials": {
        "postgres": {"id": "1", "name": "pg-credentials"}
      }
    },
    {
      "parameters": {
        "jsCode": "// Poll HeyGen video status (max 20 retries, 30s interval)\nconst videoId = $input.item.json.video_id;\nconst jobId = $input.item.json.job_id;\nconst channelId = $input.item.json.channel_id;\nconst userId = $input.item.json.user_id;\nconst apiKey = $env.HEYGEN_API_KEY;\n\nconst maxRetries = 20;\nconst intervalMs = 30000;\nlet videoUrl = null;\nlet status = 'processing';\n\nfor (let i = 0; i < maxRetries; i++) {\n  await new Promise(resolve => setTimeout(resolve, intervalMs));\n\n  const resp = await fetch(`https://api.heygen.com/v1/video_status.get?video_id=${videoId}`, {\n    headers: { 'X-Api-Key': apiKey }\n  });\n\n  if (!resp.ok) {\n    status = 'error';\n    break;\n  }\n\n  const data = await resp.json();\n  status = data.data?.status || 'processing';\n\n  if (status === 'completed') {\n    videoUrl = data.data?.video_url;\n    break;\n  } else if (status === 'failed') {\n    break;\n  }\n  // else continue polling\n}\n\nreturn [{\n  json: {\n    job_id: jobId,\n    video_id: videoId,\n    video_url: videoUrl,\n    status: status,\n    channel_id: channelId,\n    user_id: userId,\n    completed: status === 'completed'\n  }\n}];"
      },
      "id": "wf07-code-poll",
      "name": "Poll HeyGen Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-completed",
              "leftValue": "={{ $json.completed }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf07-if-completed",
      "name": "IF Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs SET status='WAITING_VIDEO_APPROVAL', video_url='{{ $json.video_url }}', updated_at=NOW() WHERE id='{{ $json.job_id }}'",
        "options": {}
      },
      "id": "wf07-pg-waiting",
      "name": "Set WAITING_VIDEO_APPROVAL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1780, 160],
      "credentials": {
        "postgres": {"id": "1", "name": "pg-credentials"}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://messenger-gateway:8080/internal/send-video-preview",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-Internal-Secret", "value": "={{ $env.GATEWAY_INTERNAL_SECRET }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ job_id: $('Poll HeyGen Status').item.json.job_id, video_url: $('Poll HeyGen Status').item.json.video_url, channel_id: $('Poll HeyGen Status').item.json.channel_id, user_id: $('Poll HeyGen Status').item.json.user_id }) }}",
        "options": {}
      },
      "id": "wf07-http-send-preview",
      "name": "Send Video Preview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 160]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs SET status='FAILED', error_message='HeyGen video generation failed: {{ $json.status }}', updated_at=NOW() WHERE id='{{ $json.job_id }}'",
        "options": {}
      },
      "id": "wf07-pg-failed",
      "name": "Set FAILED",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1780, 440],
      "credentials": {
        "postgres": {"id": "1", "name": "pg-credentials"}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://messenger-gateway:8080/internal/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-Internal-Secret", "value": "={{ $env.GATEWAY_INTERNAL_SECRET }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messenger_source: 'discord', messenger_channel_id: $('Poll HeyGen Status').item.json.channel_id, text: '❌ 영상 생성에 실패했습니다.\\nJob ID: ' + $('Poll HeyGen Status').item.json.job_id.substring(0, 8) + '\\n상태: ' + $('Poll HeyGen Status').item.json.status }) }}",
        "options": {}
      },
      "id": "wf07-http-send-error",
      "name": "Send Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 440]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Extract Fields", "type": "main", "index": 0}]]
    },
    "Extract Fields": {
      "main": [[{"node": "Update to GENERATING", "type": "main", "index": 0}]]
    },
    "Update to GENERATING": {
      "main": [[{"node": "TTS + HeyGen Create Video", "type": "main", "index": 0}]]
    },
    "TTS + HeyGen Create Video": {
      "main": [[{"node": "Save Video ID Pending", "type": "main", "index": 0}]]
    },
    "Save Video ID Pending": {
      "main": [[{"node": "Poll HeyGen Status", "type": "main", "index": 0}]]
    },
    "Poll HeyGen Status": {
      "main": [[{"node": "IF Completed", "type": "main", "index": 0}]]
    },
    "IF Completed": {
      "main": [
        [{"node": "Set WAITING_VIDEO_APPROVAL", "type": "main", "index": 0}],
        [{"node": "Set FAILED", "type": "main", "index": 0}]
      ]
    },
    "Set WAITING_VIDEO_APPROVAL": {
      "main": [[{"node": "Send Video Preview", "type": "main", "index": 0}]]
    },
    "Set FAILED": {
      "main": [[{"node": "Send Error", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {"executionOrder": "v1"},
  "tags": ["phase-2", "tts", "heygen"]
}
