ai-influencer/n8n/workflows/WF-08_sns_upload.json
{
  "id": "uLRW8JT5UitrhCC9",
  "name": "WF-08: SNS 업로드 (YouTube / Instagram)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf-08-sns-upload",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wf08-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "b1", "name": "job_id", "value": "={{ $json.body.job_id }}", "type": "string"},
            {"id": "b2", "name": "video_url", "value": "={{ $json.body.video_url }}", "type": "string"},
            {"id": "b2a", "name": "audio_url", "value": "={{ $json.body.audio_url ?? '' }}", "type": "string"},
            {"id": "b3", "name": "channel_id", "value": "={{ $json.body.channel_id }}", "type": "string"},
            {"id": "b4", "name": "video_filename", "value": "={{ $json.body.video_filename ?? '' }}", "type": "string"},
            {"id": "b5", "name": "title", "value": "={{ $json.body.title ?? '' }}", "type": "string"},
            {"id": "b6", "name": "description", "value": "={{ $json.body.description ?? '' }}", "type": "string"},
            {"id": "b7", "name": "caption", "value": "={{ $json.body.caption ?? '' }}", "type": "string"},
            {"id": "b9", "name": "subtitle_script_text", "value": "={{ $json.body.subtitle_script_text ?? '' }}", "type": "string"},
            {"id": "b8", "name": "targets_json", "value": "={{ JSON.stringify($json.body.targets ?? []) }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "wf08-set-parse",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs SET status='PUBLISHING', error_message=NULL, updated_at=NOW() WHERE id='{{ $json.job_id }}'",
        "options": {}
      },
      "id": "wf08-pg-publishing",
      "name": "Update to PUBLISHING",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": {"id": "1", "name": "pg-credentials"}
      }
    },
    {
      "parameters": {
        "jsCode": "const fields = $('Extract Fields').item.json;\nconst serviceUrl = ($env.SNS_PUBLISHER_SERVICE_URL || '').trim();\nconst jobId = fields.job_id;\nconst channelId = fields.channel_id;\n\nfunction clip(text, maxLen = 300) {\n  const normalized = String(text || '').trim();\n  if (normalized.length <= maxLen) return normalized;\n  return normalized.slice(0, maxLen - 3) + '...';\n}\n\nif (!serviceUrl) {\n  return {\n    json: {\n      job_id: jobId,\n      channel_id: channelId,\n      final_status: 'PUBLISH_FAILED',\n      summary_text: `❌ SNS 업로드 실패\\n\\nJob ID: ${jobId.slice(0, 8)}\\n• 시스템 오류: SNS_PUBLISHER_SERVICE_URL is not configured`,\n    },\n  };\n}\n\nlet targets = [];\ntry {\n  targets = JSON.parse(fields.targets_json || '[]');\n} catch (e) {\n  return {\n    json: {\n      job_id: jobId,\n      channel_id: channelId,\n      final_status: 'PUBLISH_FAILED',\n      summary_text: `❌ SNS 업로드 실패\\n\\nJob ID: ${jobId.slice(0, 8)}\\n• 요청 오류: targets 파싱 실패`,\n    },\n  };\n}\n\ntry {\n  const endpoint = `${serviceUrl.replace(/\\/$/, '')}/publish`;\n  const data = await this.helpers.httpRequest({\n    method: 'POST',\n    url: endpoint,\n    headers: { 'Content-Type': 'application/json' },\n    body: {\n      job_id: jobId,\n      video_url: fields.video_url,\n      audio_url: fields.audio_url,\n      targets,\n      title: fields.title,\n      description: fields.description,\n      caption: fields.caption,\n      subtitle_script_text: fields.subtitle_script_text,\n      video_filename: fields.video_filename,\n    },\n    json: true,\n    timeout: 30000,\n  });\n\n  return {\n    json: {\n      job_id: jobId,\n      channel_id: channelId,\n      final_status: data.final_status || 'PUBLISH_FAILED',\n      summary_text: data.summary_text || `❌ SNS 업로드 실패\\n\\nJob ID: ${jobId.slice(0, 8)}\\n• 시스템 오류: empty publish response`,\n    },\n  };\n} catch (e) {\n  const statusCode = Number((e && (e.statusCode || (e.response && e.response.statusCode))) || 0);\n  const responseBody = e && e.response ? e.response.body : undefined;\n  const detail = typeof responseBody === 'string'\n    ? responseBody\n    : (responseBody && typeof responseBody === 'object'\n      ? (responseBody.detail || JSON.stringify(responseBody))\n      : (e && e.message ? e.message : String(e)));\n  const errorLabel = statusCode ? '시스템 오류' : '네트워크 오류';\n  return {\n    json: {\n      job_id: jobId,\n      channel_id: channelId,\n      final_status: 'PUBLISH_FAILED',\n      summary_text: `❌ SNS 업로드 실패\\n\\nJob ID: ${jobId.slice(0, 8)}\\n• ${errorLabel}: ${clip(detail)}`,\n    },\n  };\n}\n",
        "options": {},
        "mode": "runOnceForEachItem"
      },
      "id": "wf08-code-publish",
      "name": "Publish via SNS Service",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs SET status='{{ $('Publish via SNS Service').item.json.final_status }}', updated_at=NOW() WHERE id='{{ $('Publish via SNS Service').item.json.job_id }}'",
        "options": {}
      },
      "id": "wf08-pg-final-status",
      "name": "Update Final Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 300],
      "credentials": {
        "postgres": {"id": "1", "name": "pg-credentials"}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://messenger-gateway:8080/internal/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-Internal-Secret", "value": "={{ $env.GATEWAY_INTERNAL_SECRET }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messenger_source: 'discord', messenger_channel_id: $('Publish via SNS Service').item.json.channel_id, text: $('Publish via SNS Service').item.json.summary_text }) }}",
        "options": {}
      },
      "id": "wf08-http-send-complete",
      "name": "Send Complete Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Extract Fields", "type": "main", "index": 0}]]
    },
    "Extract Fields": {
      "main": [[{"node": "Update to PUBLISHING", "type": "main", "index": 0}]]
    },
    "Update to PUBLISHING": {
      "main": [[{"node": "Publish via SNS Service", "type": "main", "index": 0}]]
    },
    "Publish via SNS Service": {
      "main": [[{"node": "Update Final Status", "type": "main", "index": 0}]]
    },
    "Update Final Status": {
      "main": [[{"node": "Send Complete Notification", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {"executionOrder": "v1"},
  "tags": ["phase-2", "sns"]
}
