ai-influencer/n8n/workflows/WF-12_heygen_generate.json
{
  "name": "WF-12: HeyGen 영상 생성",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf-12-heygen-generate",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wf12-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "job_id",
              "value": "={{ $json.body.job_id }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "channel_id",
              "value": "={{ $json.body.channel_id }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "user_id",
              "value": "={{ $json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "audio_file_path",
              "value": "={{ $json.body.audio_file_path ?? '' }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "audio_url",
              "value": "={{ $json.body.audio_url ?? '' }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "avatar_id",
              "value": "={{ $json.body.avatar_id ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "wf12-set-parse",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs SET status='GENERATING', updated_at=NOW() WHERE id='{{ $json.job_id }}'",
        "options": {}
      },
      "id": "wf12-pg-generating",
      "name": "Update to GENERATING",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "pg-credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jobId = $('Extract Fields').item.json.job_id;\nconst channelId = $('Extract Fields').item.json.channel_id;\nconst userId = $('Extract Fields').item.json.user_id;\nconst audioUrl = ($('Extract Fields').item.json.audio_url || '').trim();\nconst heygenApiKey = ($env.HEYGEN_API_KEY || '').trim();\nconst avatarId = (($('Extract Fields').item.json.avatar_id || '') || ($env.HEYGEN_AVATAR_ID || '')).trim();\nconst kstDate = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'Asia/Seoul',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n}).format(new Date()).replace(/-/g, '');\nconst videoFilename = `${kstDate}-${jobId}.mp4`;\n\ntry {\n  if (!heygenApiKey) {\n    throw new Error('HEYGEN_API_KEY is not configured');\n  }\n  if (!avatarId) {\n    throw new Error('avatar_id is not configured');\n  }\n  if (!audioUrl) {\n    throw new Error('audio_url is required');\n  }\n\n  const audioResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: audioUrl,\n    encoding: null,\n    returnFullResponse: true,\n    timeout: 300000,\n  });\n  const audioBytes = Buffer.isBuffer(audioResp.body)\n    ? audioResp.body\n    : Buffer.from(audioResp.body || '');\n  if (!audioBytes.length) {\n    throw new Error('audio download returned empty body');\n  }\n\n  const uploadData = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://upload.heygen.com/v1/asset',\n    headers: { 'X-Api-Key': heygenApiKey },\n    formData: {\n      file: {\n        value: audioBytes,\n        options: {\n          filename: 'audio.wav',\n          contentType: 'audio/wav',\n        },\n      },\n    },\n    json: true,\n    timeout: 300000,\n  });\n\n  const assetId = uploadData.data?.id || uploadData.asset_id;\n  if (!assetId) {\n    throw new Error(`HeyGen upload returned no asset_id: ${JSON.stringify(uploadData)}`);\n  }\n\n  const videoBody = {\n    video_inputs: [{\n      character: {\n        type: 'avatar',\n        avatar_id: avatarId,\n        avatar_style: 'normal',\n      },\n      voice: {\n        type: 'audio',\n        audio_asset_id: assetId,\n      },\n    }],\n    dimension: { width: 1280, height: 720 },\n  };\n\n  const videoData = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.heygen.com/v2/video/generate',\n    headers: {\n      'X-Api-Key': heygenApiKey,\n      'Content-Type': 'application/json',\n    },\n    body: videoBody,\n    json: true,\n    timeout: 300000,\n  });\n\n  const videoId = videoData.data?.video_id;\n  if (!videoId) {\n    throw new Error(`HeyGen create video returned no video_id: ${JSON.stringify(videoData)}`);\n  }\n\n  const sleep = (ms) => new Promise((r) => setTimeout(r, ms));\n  const maxRetries = 40;\n  const intervalMs = 15000;\n  let videoUrl = '';\n  let status = 'processing';\n\n  for (let i = 0; i < maxRetries; i++) {\n    await sleep(intervalMs);\n    const pollData = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `https://api.heygen.com/v1/video_status.get?video_id=${encodeURIComponent(videoId)}`,\n      headers: { 'X-Api-Key': heygenApiKey },\n      json: true,\n      timeout: 30000,\n    });\n\n    status = pollData.data?.status || 'processing';\n    if (status === 'completed') {\n      videoUrl = pollData.data?.video_url || '';\n      break;\n    }\n    if (status === 'failed') {\n      break;\n    }\n  }\n\n  return {\n    json: {\n      ok: status === 'completed' && !!videoUrl,\n      completed: status === 'completed' && !!videoUrl,\n      status,\n      video_url: videoUrl,\n      video_id: videoId,\n      video_filename: videoFilename,\n      avatar_id: avatarId,\n      job_id: jobId,\n      channel_id: channelId,\n      user_id: userId,\n    },\n  };\n} catch (e) {\n  const message = e && e.message ? e.message : String(e);\n  return {\n    json: {\n      ok: false,\n      completed: false,\n      status: 'failed',\n      error: message,\n      video_url: '',\n      video_filename: videoFilename,\n      avatar_id: avatarId,\n      job_id: jobId,\n      channel_id: channelId,\n      user_id: userId,\n    },\n  };\n}",
        "options": {},
        "mode": "runOnceForEachItem"
      },
      "id": "wf12-code-generate",
      "name": "HeyGen Create + Poll",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-completed",
              "leftValue": "={{ $json.ok && $json.completed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf12-if-completed",
      "name": "IF Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs SET status='WAITING_VIDEO_APPROVAL', video_url='{{ $('Send Video Preview').item.json.s3_uri || $('HeyGen Create + Poll').item.json.video_url }}', script_json = COALESCE(script_json, '{}'::jsonb) || jsonb_build_object('media_names', COALESCE(script_json->'media_names', '{}'::jsonb) || jsonb_build_object('video_filename', '{{ $('HeyGen Create + Poll').item.json.video_filename }}')), updated_at=NOW() WHERE id='{{ $('HeyGen Create + Poll').item.json.job_id }}'",
        "options": {}
      },
      "id": "wf12-pg-waiting",
      "name": "Set WAITING_VIDEO_APPROVAL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1340,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "pg-credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://messenger-gateway:8080/internal/send-video-preview",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Secret",
              "value": "={{ $env.GATEWAY_INTERNAL_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ job_id: $('HeyGen Create + Poll').item.json.job_id, video_url: $('HeyGen Create + Poll').item.json.video_url, video_filename: $('HeyGen Create + Poll').item.json.video_filename, channel_id: $('HeyGen Create + Poll').item.json.channel_id, user_id: $('HeyGen Create + Poll').item.json.user_id }) }}",
        "options": {}
      },
      "id": "wf12-http-preview",
      "name": "Send Video Preview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE jobs SET status='FAILED', error_message='WF-12 HeyGen 실패: {{ $('HeyGen Create + Poll').item.json.error || $('HeyGen Create + Poll').item.json.status }}', updated_at=NOW() WHERE id='{{ $('HeyGen Create + Poll').item.json.job_id }}'",
        "options": {}
      },
      "id": "wf12-pg-failed",
      "name": "Set FAILED",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1340,
        420
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "pg-credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://messenger-gateway:8080/internal/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Secret",
              "value": "={{ $env.GATEWAY_INTERNAL_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messenger_source: 'discord', messenger_channel_id: $('HeyGen Create + Poll').item.json.channel_id, text: '❌ 영상 생성에 실패했습니다.\\nJob ID: ' + $('HeyGen Create + Poll').item.json.job_id.substring(0,8) + '\\n상태: ' + ($('HeyGen Create + Poll').item.json.error || $('HeyGen Create + Poll').item.json.status) }) }}",
        "options": {}
      },
      "id": "wf12-http-error",
      "name": "Send Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        420
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Update to GENERATING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update to GENERATING": {
      "main": [
        [
          {
            "node": "HeyGen Create + Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HeyGen Create + Poll": {
      "main": [
        [
          {
            "node": "IF Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Completed": {
      "main": [
        [
          {
            "node": "Send Video Preview",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set FAILED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set WAITING_VIDEO_APPROVAL": {
      "main": []
    },
    "Send Video Preview": {
      "main": [
        [
          {
            "node": "Set WAITING_VIDEO_APPROVAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set FAILED": {
      "main": [
        [
          {
            "node": "Send Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "phase-2",
    "heygen",
    "wf-12"
  ]
}
